:root {
  --primaryBlue: #062D3E;
  --primaryOrange: #ED5C01;
  --lightBlue: #189CAB;
  --backgroundColor: #EBE3CC;
  --yellow: #FBBD08;
  --normal: #224453;
  --gray: #EBE3CC;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('../src/assets/bg.png'), url('../src/assets/hero-blue-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 right 313px, top 0 right 0;

}

body * {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

/* ~ HEADER */
header {
  padding: 44px 0 10px 0;
  width: 100%;
  height: auto;
}

.header__logo {
  cursor: pointer;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 1%;
  color: var(--primaryBlue);
}


.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {}

.header__nav {}

.header__nav-list {
  display: flex;
  list-style: none;
}

.header__nav-item {
  font-size: 15px;
  margin-left: 44px;
  font-family: 'Josefin Sans', sans-serif;
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-link {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}

.link_hover {
  background: url("../src/assets/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  width: 121px;
  height: 30px;
  text-align: center;
}

.header__button button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 200px;
  padding: 12px 24px;
  font-size: 20px;
  color: #fff;
  transition: .4s;
  cursor: pointer;
}

.header__button button:hover {
  background-color: var(--primaryBlue);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }
}

/* ~ HERO */

.hero {
  margin-bottom: 50px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__left {
  position: relative;
  padding-left: 50px;
}

.arrow_text {
  display: flex;
  align-items: center;
}

.arrow_text p {
  font-size: 24px;
  margin-left: 15px;
  color: var(--lightBlue);
}

.hero__left h1 {
  font-size: 96px;
  line-height: 92px;
  color: var(--primaryBlue);
  margin: 20px 0;
}

.hero__left h1 span {
  color: var(--primaryOrange);
}

.hero__left button {
  padding: 16px 36px;
  border-radius: 25px;
  background-color: var(--primaryOrange);
  border: 0px solid transparent;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.hero__right {}

.hero__right-img {
  width: 496px;
  height: 701px;
}

.hero__right-img img {
  width: 100%;
  height: 100%;
}

.hero__right-slider {
  border-radius: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightBlue);
  padding: 20px;
}

.hero__right-counter {
  display: flex;
}

.hero__right-counter span {
  margin-left: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  width: 11px;
  height: 11px;
}

.hero__right-counter span:first-child {
  margin-left: 0;
}

.hero__right-counter span.active {
  background-color: #fff;
}

/* ~ HERO MEDIA */

@media only screen and (max-width: 1100px) {
  .arrow_text p {
    font-size: 20px;
  }

  .hero__left h1 {
    font-size: 75px;
  }

  .arrow_text div img {
    width: 56px;
    height: 42px;
  }
}

@media only screen and (max-width: 900px) {
  .hero__right-img {
    width: 300px;
    height: 100%;
  }

  .arrow_text p {
    font-size: 18px;
  }

  .arrow_text div img {
    width: 50px;
    height: 36px;
  }
}

@media only screen and (max-width: 865px) {
  .hero__right {
    display: none;
  }
}

@media only screen and (max-width: 765px) {
  .hero__left h1 {
    font-size: 60px;
  }

  .arrow_text p {
    font-size: 15px;
  }

  .arrow_text div img {
    width: 44px;
    height: 30px;
  }
}

@media only screen and (max-width: 470px) {
  .hero__left h1 {
    font-size: 45px;
  }

  .arrow_text p {
    font-size: 13px;
  }
}

/* ~ BANNER */

.banner {
  width: 100%;
  height: auto;
  padding: 10px 0 16px 0;
  background-color: var(--primaryOrange);
}

.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__left {
  display: flex;
  align-items: center;
}

.banner__left span {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}

.banner__left p {
  background: var(--yellow);
  color: var(--primaryBlue);
  font-size: 54px;
  border-radius: 200px;
  padding: 30px 10px;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
}

.banner__left p:before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 20px;
  background-repeat: no-repeat;
  height: 32px;
  width: 89px;
  bottom: -30px;
}

.banner__right {}

.banner__row {
  display: flex;
  align-items: center;
}

.banner__item {
  cursor: pointer;
  margin-left: 32px;
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.banner__op {
  opacity: 0;
  margin-right: 48px;
}

.banner__item:first-child {
  margin-left: 0;
}

.banner__item img {
  width: 120%;
  height: 120%;
  border-radius: 100px;
  filter: brightness(60%);
  transition: .4s;
}

.banner__item img:hover {
  filter: brightness(100%);
}

.banner__item-main {
  position: relative;
  top: 25px;
  width: 114px;
  height: 114px;
}

.banner__item-main img {
  border: 3px solid #fff;
  filter: brightness(100%);
}

.banner__item-main p {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.banner__item-main span {
  font-size: 12px;
  font-weight: 400;
}

/* ~ BANNER MEDIA */

@media only screen and (max-width: 1110px) {
  .banner__left span {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  .banner__content {
    flex-direction: column;
  }

  .banner__left p {
    display: none;
  }

  .banner__left span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
  }

  .banner__right,
  .banner__row {
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 650px) {
  .banner__item {
    width: 60px;
    height: 60px;
  }

  .banner__row {
    flex-wrap: wrap;
  }

  .banner__item-main {
    top: 0;
    left: 0;
  }

  .banner__item-main img {
    border: 0;
  }

  .banner__item-main p {
    display: none;
  }

  .banner__item {
    margin-top: 10px;
    margin-left: 0;
  }

  .banner__op {
    opacity: 1;
    margin-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .banner__row:nth-child(2) {
    display: none;
  }

  .banner__row {
    justify-content: center;
  }

  .banner__item {
    margin-left: 20px;
  }
}

/* ~ SERVICES */

.service {
  width: 100%;
  height: auto;
  margin: 100px 0;
}

.service__content {}

.service__content h1 {
  font-size: 46px;
  line-height: 38px;
  color: var(--primaryBlue);
}

.services__row {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__item-left {
  padding: 62px 32px;
  height: 450px;
  width: 88%;
  line-height: 30px;
  background: var(--yellow);
  background: url("assets/yellowBG.png");
  background-repeat: no-repeat;
}

.services__item-left p {}

.services__circle {
  width: 111px;
  height: 111px;
  background: #EBE3CC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.services__item-right {
  padding: 62px 32px;
  height: 440px;
  line-height: 30px;
  background: url("assets/BGRectangle.png");
  background-repeat: no-repeat;
}

.services__item-title {
  margin: 30px 0 20px 0;
  font-size: 26px;
  font-weight: 500;
  color: var(--primaryBlue);
}

.services__item-desc {
  padding-right: 80px;
  font-size: 18px;
  color: var(--primaryBlue);
}

.services__item button {
  margin-top: 38px;
  padding: 12px 32px;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid var(--primaryBlue);
  cursor: pointer;
  background: var(--primaryBlue);
  transition: 0.4s;
  color: var(--gray);
}

.services__item button:hover {
  background: transparent;
  color: var(--primaryBlue);
}

.services__circle-right {
  width: 111px;
  height: 111px;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.services__item-right button {
  background: transparent;
  color: var(--primaryBlue);
}

.services__item-right button:hover {
  background: var(--primaryBlue);
  color: var(--gray);
}

.services__right-arrows {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 300px;
  cursor: pointer;
}

.services__right-arrows img {
  position: absolute;
  bottom: 1px;
  right: 1px;
}

/* ~ COMMENT */

.comment {
  width: 100%;
  height: auto;
  background-color: var(--lightBlue);
}

.comment__content {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__left {
  margin: 0 30px 0 0;
}

.comment__left-img {
  width: 542px;
  height: 560px;
}

.comment__left-img img {
  width: 100%;
  height: 100%;
}

.comment__right {
  padding-left: 15px;
  color: var(--backgroundColor);
}

.comment__right h1 {
  font-size: 46px;
  line-height: 60px;
}

.comment__right p {
  margin: 20px 0;
  font-size: 22px;
  line-height: 34px;
}

.comment__right button {
  margin-top: 38px;
  padding: 12px 32px;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid var(--primaryBlue);
  cursor: pointer;
  background: var(--primaryBlue);
  transition: 0.4s;
  color: var(--gray);
}

.comment__right button:hover {
  background: transparent;
  color: var(--backgroundColor);
}

.comment__right ul {
  margin-top: 25px;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: circle;
  margin-left: 18px;
}

/* ~ COMMENT MEDIA */
@media only screen and (max-width: 1200px) {
  .comment__content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 700px) {
  .comment__content {
    flex-direction: column;
  }
}

/* ~ REVIEW */

.review {
  width: 100%;
  height: auto;
  background-image: url('../src/assets/star1.png');
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.review__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__left {
  position: relative;
  width: 50%;
  height: 634px;
  margin: 100px 0 130px 0;
  border: 2px solid #062D3E;
  border-radius: 36px;
}

.review__left img {
  width: 100%;
  height: 100%;
}

/* ! .review__left-quote {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  left: 320px;
  bottom: 230px;

  background-image: url(assets/quote-star.png);
  background-repeat: no-repeat;

  width: 136px;
  height: 136px;
}

! .review__left-quote-img {
  width: 80px;
  height: 53px;
} */

.review__left-slider {
  position: relative;
  width: 244px;
  height: 54px;
}

.review__left-slider-img {
  position: absolute;
  bottom: 30px;
  left: 145px;
  cursor: pointer;
}

.review__right {
  width: 50%;
  margin: 0 0 0 20px;
}

.review__right h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 60px;
  color: var(--primaryBlue);
}

.review__right p {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  padding: 27px 28px 68px 34px;
}

.review__p-text {
  width: 475px;
  height: 333px;
  margin: 15px 0 33px;

  background: url(assets/bg1.png);
  background-repeat: no-repeat;
}

.review-arrows {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

/* ~ SUBSCRIBE */
.subscribe {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe__left {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 324px;
  background-color: var(--yellow);
  background-image: url(../src/assets/BlueOrnament2.png);
  background-repeat: no-repeat;
  background-position: top 100px left 60px;
}

.subscribe__left img {
  position: absolute;
  left: 200px;
  bottom: 0px;
}

.subscribe__right {
  width: 50%;
  height: 324px;
  background-color: var(--primaryOrange);
  background-image: url('../src/assets/yellowOrnament.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.subscribe__right h3 {
  font-size: 46px;
  line-height: 60px;
  font-weight: 600;
  color: var(--primaryBlue);
  margin: 52px 0 0 65px;
}

.subscribe__right input {
  width: 474px;
  height: 45px;
  margin: 50px 0 0 64px;
  border: 0;
  color: #fff;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.01em;
  background-color: var(--primaryOrange);
}

.subscribe__right input::placeholder {
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 1%;
  color: #fff;
}

.subscribe__right button {
  background-color: var(--primaryOrange);
  border: 0px;
}

.subscribe__right hr {
  width: 505px;
  margin: 0 0 0 64px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primaryBlue);
  width: 100%;
  height: 265px;
}

.footer__logo {
  cursor: pointer;
}

.footer__links ul {
  display: flex;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  line-height: 42px;
}

.footer__links li {
  margin: 15px 0 0 32px;
  cursor: pointer;
}

.footer__links li:first-child {
  margin-left: 0;
}